{% extends "index.html"%}
{% block title %} Consultar Datos {%endblock%}
{%block content%}
<style>
.Block{
    background-color: transparent;
    position: absolute;
    margin-left: 250px;
    margin-top: 350px;
    height: 400px;
    width: 800px;
    overflow: auto;
   
}

.Table{
  font-family: calibri;
  border-collapse: collapse;
  border: solid 2px black;
  width: 100%;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #dddddd;

}
.Principal{
    font-family: calibri, sans-serif;
    background-color: black;
    color: white;
}
.Principal > th{
    font-family: calibri, sans-serif;
    background-color: black;
    color: white;
}
.Usuarios> th{
    font-family: calibri, sans-serif;
    background-color:rgb(51,51,51);
    color: white;
}
.Instancias > th{
    font-family: calibri, sans-serif;
    background-color: rgb(159,159,159);
    color: white;
}
.Instancias_th > th{
    font-family: calibri, sans-serif;
    background-color: transparent;
    color: black;
}
</style>
<div class = "Block">
 <table class="Table">
    <tr class="Principal">
        <th>NIT</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Password</th>
        <th>Dirrecion</th>
        <th>Email</th>
    </tr>
    {%for iter_clientes in Consulta_Clientes%}
    <tr class="Usuarios">
        <th>{{iter_clientes.NIT}}</th>
        <th>{{iter_clientes.Nombre}}</th>
        <th>{{iter_clientes.Usuario}}</th>
        <th>{{iter_clientes.Password}}</th>
        <th>{{iter_clientes.Direccion}}</th>
        <th>{{iter_clientes.Email}}</th>
        <tr class="Instancias">
            <th>ID</th>
            <th>ID_configuracion</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Fecha_inicial</th>
            <th>Fecha_final</th>
        </tr>
        {%for iter_instancias in iter_clientes.Instacias%}
            <tr class="Instancias_th">
                <th>{{iter_instancias.ID}}</th>
                <th>{{iter_instancias.ID_configuracion}}</th>
                <th>{{iter_instancias.Nombre}}</th>
                <th>{{iter_instancias.Estado}}</th>
                <th>{{iter_instancias.Fecha_inicial}}</th>
                <th>{{iter_instancias.Fecha_final}}</th>
            </tr>
        {%endfor%}
    </tr>
    {%endfor%}
 </table>
</div>
{%endblock%}